@charset "utf-8";

body {
    width: 100%;
    height: 1080px;
    margin: 0;
    padding: 0;
    background-image: url("grid.jpg");
    background-position: center;
    background-repeat: repeat;
}

#full{
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: auto;
}

.logoimg .logo {
    width: 6%;
    height: auto;
    padding-top: 45px;
    padding-left: 45px;
    padding-bottom: 35px;
    padding-right: 35px;
}

.header .logoimg .logo { float: left;}



.drop1 {
    text-decoration: none;
    color: #9FC3A1;
    padding: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bold;
    

  }
  
  .nav { 
      width: 100%;
      height: auto;
  }

  .nav ul { 
      padding-left: 600px;
      margin-top: 90px;
  }
  .navdrop1 {
    position: relative;
    display: inline-block;
    /* width: 23%; */
  }
  
  .drop1 {
      font-family: 아리따-돋움(TTF);
  }
  
  .dropbtn1 {
    display: none;
    position: absolute;
    font-size: 13px;
    min-width: 180px;
    text-align: center;
    z-index: 1;
    margin-top: 35px;
  }
  
  
  .dropbtn1 a {
    color: #9FC3A1;
    text-decoration: none;
    display: block;
  }

  .a1 a {
    
    /* padding: 10px 25px 5px 28px; */
    padding-top: 5px;
    padding-left: 25px;
    padding-bottom: 3px;
    padding-right: 28px;
    letter-spacing: -2px;
    text-align: center;
  }
  
  .a2 a {
      padding-top: 5px;
      padding-left: 60px;
      padding-bottom: 3px;
      padding-right: 50px;
      letter-spacing: -2px;
      text-align: center;
  }

  .a3 a {
      padding-top: 5px;
      padding-left: 20px;
      padding-bottom: 3px;
      padding-right: 50px;
      letter-spacing: -2px;
  }
  .a4 a {
      padding-top: 5px;
      padding-left: 0px;
      padding-bottom: 3px;
      padding-right: 68px;
      letter-spacing: -2px;
  }
  .dropbtn1 a:hover { color: #FCBF8F;}
  
  
  .navdrop1:hover .dropbtn1 {
    display: block;
  }
  
  
  .navdrop1:hover .drop1 {
    color: #FCBF8F;
  }

  .nav ul { float: left;}
  .nav2 ul {
      margin-top: 90px;
      padding-left: 100px;
      float: left;
      list-style-type: none;
  }

  .nav2 ul li {
      float: left;
  }

  .nav2 ul li a {
      text-decoration: none;
      padding: 0px 15px;
      letter-spacing: 3px;
      color: #FCBF8F;
      font-weight: bold;
  }

  .nav2 ul li:hover a { color: #9FC3A1; }


  .header::after {
      content: "";
      display: table;
      clear: both;
  }

  .loginbox {
      box-sizing: border-box;
      width: 25%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 170px;
  }

  .loginbox .checkbox {
      display: block;
      text-align: right;
      appearance: none;
  }
   
  
  .loginbox .id {
     width: 100%;
     height: auto;
     display: inline-block;
     background-color: none;
  }
  
.id input {
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid #9FC3A1;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Noto Sans KR";
    color: #9FC3A1;
    letter-spacing: -1px;
    padding: 5px 0px;
}

.id input:focus {
    outline: none;
}

.id input::placeholder {
    color: #9FC3A1;
}


.pw input {
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid #9FC3A1;
    margin-top: 30px;
    font-size: 18px;
    font-family: "Noto Sans KR";
    color: #9FC3A1;
    letter-spacing: -1px;
    padding: 5px 0px;
    
}

.pw input:focus {
    outline: none;
}

.pw input::placeholder {
    color: #9FC3A1;
}

.login input {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
    background-color: #FCBF8F;
    padding: 0;
    margin-top: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    font-family: "Noto Sans KR";
    color: white;
    letter-spacing: -1px;
    
}

.login input:focus {
    outline: none;
}
.login input:hover {
    cursor: pointer;
    background-color: #f89f5b;
}

.sign input {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 10px;
    background-color: #9FC3A1;
    padding: 0;
    margin-top: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 17px;
    font-family: "Noto Sans KR";
    color: white;
    letter-spacing: -1px;
}

.sign input:focus {
    outline: none;
}

.sign input:hover {
    cursor: pointer;
    background-color: #88b48a;
}
.find {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
   
}
.find a { 
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    font-family: "Noto Sans KR";
    letter-spacing: -2px;
    padding-left: 5px;
    padding-right: 5px;
}
.site {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

.kakao { width: 8%; height: auto;}
.naver { width: 8%; height: auto;}
.facebook { width: 8%; height: auto;}

.top a {
    text-decoration: none;
    color: #9FC3A1;
    font-family: "Noto Sans KR";
    font-size: 17px;
    letter-spacing: -1px;
    font-weight: bold;
}